html {
	background-color: #EDEDED;
}

body {
	margin: 10px 100px;
	border: 1px solid black;
	min-width: 600px;
	background-color: white;
}

div#header {
	padding: 20px 40px;
}

div#content {
	padding: 10px 20px;
}

div#footer {
	padding: 5px 10px;
	text-align: center;
	background: #000000;
	color: #FFFFFF;
	font-weight: bold;
}

h1#title {
	margin: 0;
	padding: 0;
	text-align: right;
}

table {
	width: 100%;
	margin: 0;
	padding: 0;
}

div.menuImage {
	text-align: center;
}

div.menuImage img {
	width: 130px;
}

.cursor {
	text-align: right;
	background: none repeat scroll 0 0 #F7F7F7;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	color: #000000;
	padding: 2px 5px;
}